*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'open sans';
}
.contenedor{
    padding: 60px 0;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color: rgb(92, 141, 44);
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}
header{
width: 100%;
height: 600px;
background: #a8ff78;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, hsla(162, 100%, 74%, 0.623), #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, hsla(162, 100%, 74%, 0.61), hsla(99, 100%, 74%, 0.61)), url(../IMG/pexels-vlada-karpovich-4050290.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-size: cover;
background-attachment: fixed;
position: relative;
}
nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

header .textos-encabezados{
display: flex;
height: 430px;
width: 100%;
align-items: center;
justify-content: center;
flex-direction: column;
}
.textos-encabezados h1{
    font-size: 50px;
    color: #fff;
}

.textos-encabezados h2{
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}
.contenedor-tabla{
    display: flex;
    justify-content: space-evenly;
}
.imagentabla{
 width: 500px;
}
.tabla1{
    width: 700px;
}
.portafolio{
    background: #f2f2f2;
}
.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
   
}
.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    height: 200px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    border-radius: 100px;
}
.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: rgba(252, 152, 3, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
}
.hover-galeria img{
width: 50px;
}

.hover-galeria p{
    color: #fff;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}
th{
    color: #fff;
    background: rgba(252, 152, 3, 0.7);
    border-radius: 10px 10px 0 0;
}
.campos {
    color: #fff;
    background: rgba(252, 152, 3, 0.7);
    
}
thead td{
    padding: 20px 30px;
    border-radius: 0 0 10px 10px;
}

tbody td{
padding: 20px 30px;
font-family: sans-serif;
border-radius: 10px 10px 10px 10px;
}
tbody tr:nth-child(even){
    background-color: #ddd;
}

tbody tr:hover{
    background-color: rgba(150, 248, 150, 0.7);
    }
footer {
padding: 60px;
background: rgba(150, 248, 150, 0.7);
column-count: 4;
}
.content-foo{
    color: #000;
    text-align: center;
    font-family: sans-serif;
    position:sticky;
}
.content-foo > h4 {
    padding: 10px;
}
footer h2{
    font-size: 10px;
    padding: 10px;
}
.content-foo > img{
    padding: 10px 10px;
}
.formulario{
    height: 600px;
    width: 100%;
    background: #c1c5bfad;
    padding: 10px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3 ,1fr);
    align-items: center;
    
}

.formulario-contenidos{
    width: 500px;
    background: #c1c5bfa6;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    grid-column: 1/3;

}

.formulario-contenidos > input,select{
    padding: 10px 10px;
    border-radius: 10px;
    align-items: center;
    float: left;
    width: 400px;
    margin: 10px;
}

.formulario-docente{
    width: 500px;
    background: #c1c5bfa6;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 500px;
    margin-right: 500px;
    border-radius: 10px;
        
}

.formulario-docente > input, select, button{
    padding: 10px 30px;
    margin: 10px;
    border-radius: 10px;
    align-items: center;
    width: 400px;
}
